body {
   margin: 0;
   background-color: rgba(232, 244, 245, 0.275);
}

nav div#links-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #c7c76b;
   padding: 0;
   margin: 0;
}

nav div#links-wrapper div.main-menu {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin: 0;
}

nav div#links-wrapper div.main-menu img {
   width: 35px;
   margin: 5px;
   padding: 0;
   border-radius: 50%;
}

nav div#links-wrapper a {
   text-decoration: none;
   font-size: 20px;
   color: white;
   margin: 0 17px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav div#links-wrapper a.active {
   background-color: #ff4d4d;
   margin: 0 0px;
   padding: 14px 17px;
}

nav div#links-wrapper a.active:hover {
   color: #ffe066;
}

nav div#links-wrapper a:hover {
   color: #ff4d4d;
}

h1#welcome-title {
   font-size: 40px;
   font-family: 'Joan', serif;
   color: #ff4d4d;
   display: flex;
   justify-content: center;
   font-weight: lighter;
}

h1#welcome-title img#title {
   position: relative;
   border-radius: 10px;
   top: 11px;
   width: 300px;
}
h1#welcome-title img#icon {
   border-radius: 10px;
   width: 60px;
}

h1#welcome-title span {
   color: #ff9933;
}

h3 {
   text-align: center;
   font-size: 30px;
   font-family: 'Joan', serif;
   font-weight: lighter;
   color: #ff4d4d;
}

div.auctions-wrapper {
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
}

div.auctions-wrapper a{
   text-decoration: none;
   color: black;
}

div.auctions-wrapper a div.auction-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   height: 375px;
   width: 300px;
   border-radius: 8px;
   /* background-color: #ffe066; */
   border: 2px solid #ffe066;
   box-shadow: 0 4px 8px 0 rgba(66, 108, 45, 0.2), 0 6px 20px 0 rgba(34, 109, 39, 0.19);
   margin: 20px;
}

div.auctions-wrapper a div.auction-wrapper div.list-info-wrapper div.title-price {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 270px;
}

div.auctions-wrapper a div.auction-wrapper div.list-info-wrapper div.title-price h2 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #ff9933;
   font-size: 22px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: 5px 0;
}


div.auctions-wrapper a div.auction-wrapper div.list-info-wrapper div.title-price button {
   border: none;
   border-radius: 7px;
   background-color: #ff4d4d;
   align-self: left;
   margin-left: 10px;
}

div.auctions-wrapper a div.auction-wrapper div.list-info-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 0;
   margin: 0;
   font-size: 15px;
}

div.auctions-wrapper a div.auction-wrapper div.list-img-wrapper img {
   height: 250px;
   max-width: 300px;
   margin: 0;
   border-radius: 6px 6px 0 0;
}

div.auctions-wrapper a div.auction-wrapper div.list-info-wrapper p span {
   font-weight: bold;
}

div.auctions-wrapper a div.auction-wrapper div.list-info-wrapper p {
   width: 90%;
   padding: 0px 10px;
   margin: 0;
} 

h3#new-auction-title {
   margin-bottom: 0;
}

div.form-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

form.form {
   width: 400px;
   border: 2px solid #ff4d4d;
   border-radius: 7px;
   padding: 15px;
}

form.form input[type='submit'] {
   background-color: #ff4d4d;
   border: none;
   border-radius: 7px;
   padding: 5px 8px;
   cursor: pointer;
   position: relative;
   left: 168px;
}

form.form p {
   display: flex;
   flex-direction: column;
}

form.form p label{
   color: #ff9933;
   font-weight: bold;
}

form.form p textarea {
   resize: none;
   height: 8em;
   width: 29.5em;
}

div#categories-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 20px;
   padding-top: 50px;
}

div#categories-wrapper a {
   text-decoration: none;
}

div#categories-wrapper a div.category-card {
   width: 150px;
   height: 150px;
   border-radius: 7px;
   margin: 20px;
   margin-bottom: 0;
}

div#categories-wrapper a p.category-title {
   text-align: center;
   color:#ff4d4d;
   font-family: 'Joan', serif;
   font-size: 32px;
   margin-top: 0px;
}
div#categories-wrapper a div.category-card img {
   width: 150px;
}

div.logout-page-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

div.logout-page-wrapper a button {
   background-color: #ff4d4d;
   border: none;
   border-radius: 7px;
   padding: 5px 8px;
   cursor: pointer;
   font-size: 35px;
}

div.login-register-wrapper {
   margin: 60px;
}

div.login-register-wrapper span {
   margin-top:10px;
   font-family: 'Joan', serif;
}

div.login-register-wrapper span a{
   text-decoration: none;
   color:#ff4d4d;
   font-weight: bold;
}

p#bid-error {
   color: red;
}

div.auction-buttons-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

form.buttons input[type="submit"] {
   background-color:#ffe066;
   color: #ff4d4d;
   border: none;
   border-radius: 7px;
   padding: 5px 8px;
   cursor: pointer;
   font-size: 20px;
   margin: 22px;
}

h1#winner {
   width: 100vw;
   text-align: center;
   background-image: linear-gradient(
      -225deg,
      #ff4d4d 0%,
      #c7c76b 29%,
      #ff9933 67%,
      #ffe066 100%
   );
   background-size: 200% auto;
   color: #fff;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 5s linear infinite;
   display: inline-block;
   font-size: 45px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
