{% extends "auctions/layout.html" %}

{% block content %}

<h1>{{auction.title}}</h1>
<img style="width: 200px; height: 200px;" src="{{ auction.photo.url }}" alt="Product img">
<p>Listed by {{ auction.user }}</p>
<p>Description: {{ auction.description }}</p>
<p>Date: {{ auction.date }}</p>
<p>Initial price: £{{ auction.initial_price }}</p>
<p>Last bid: £{{ last_bid }} <span>({{ last_bid.user }})</span></p>
{% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ bid_form.as_p }}
        <input type="submit" value="Place Bid">
    </form> 
{% endif %}
<p>Total bids: {{ total_bids }}</p>
<p>Category: {{ auction.category }}</p>
<h3>Comments:</h3>

{% for comment in comments %}

    <p><strong>{{ comment.title }} -- by {{ comment.user }}</strong></p>
    <p>{{ comment.message }}</p>

{% endfor %}
<!-- <h3>How much you would pay for this?: </h3> -->
{% if user.is_authenticated %}

<h3>Do you want to leave a comment?: </h3>
<div class="wrapper-of-wrapper">
   <div class="form-wrapper">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" value="Comment">
        </form>
    </div>
</div>
{% endif %}

{% endblock content %}
