{% extends "auctions/layout.html" %}
{% load static %}

{% block content %}



{% if auctions %}
    <h3>ACTIVE LISTINGS</h3>
    <div class="auctions-wrapper">
        {% for auction in auctions %}
            <a href="{% url 'auctions-show' id=auction.id %}">
                <div class="auction-wrapper">
                    <div class="list-img-wrapper">
                        <img src="{{auction.photo.url}}" alt="image">
                    </div>
                    <div class="list-info-wrapper">
                        <div class="title-price">
                            <h2>{{auction.title}} </h2>
                            <button> £{{auction.initial_price}}</button>
                        </div>
                        <p><span>Description: </span>{{auction.description}}</p> 
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endif %}

{% if closed_auctions %}

<h3>CLOSED LISTINGS</h3>

<div class="auctions-wrapper">
    {% for auction in closed_auctions %}
        <a href="{% url 'auctions-show' id=auction.id %}">
            <div class="auction-wrapper">
                <div class="list-img-wrapper">
                    <img src="{{auction.photo.url}}" alt="image">
                </div>
                <div class="list-info-wrapper">
                    <div class="title-price">
                        <h2>{{auction.title}} </h2>
                        <button> £{{auction.initial_price}}</button>
                    </div>
                    <p><span>Description: </span>{{auction.description}}</p> 
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endif %}

{% endblock content %}
