{% extends "auctions/layout.html" %}

{% block content %}

<div class="auctions-wrapper">
   {% for auction in auctions %}
       <a href="{% url 'auctions-show' id=auction.id %}">
           <div class="auction-wrapper">
               <div class="list-img-wrapper">
                   <img src="{{auction.photo.url}}" alt="image">
               </div>
               <div class="list-info-wrapper">
                   <div class="title-price">
                       <h2>{{auction.title}} </h2>
                       <button> £{{auction.initial_price}}</button>
                   </div>
                   <p><span>Description: </span>{{auction.description}}</p> 
               </div>
           </div>
       </a>
   {% endfor %}
</div>

{% endblock %}
