{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/icon.png' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <title>Commerce</title>
</head>
<body>
    <h1 id="welcome-title"><img id="icon" src="{% static 'img/icon.png' %}" alt="title">Welcome to <img id="title" src="{% static 'img/title.png' %}" alt="title">
        {% if user.is_authenticated %}
        , <span> {{user}}</span>!
        {% else %}
        !
        {% endif %}
    </h1>
    <nav>
        <div id="links-wrapper">
            {% if user.is_authenticated %}
            <div class="main-menu">
                <a href="{% url 'auctions-home' %}"><img src="{% static 'img/icon.png' %}" alt="logo"></a>
                <a class="link" href="{% url 'auctions-home' %}">Active Listing</a>
                <a class="link" href="{% url 'auctions-closed' %}">Closed Listing</a>
                <a class="link" href="{% url 'auctions-categories' %}">Categories</a>
                <a class="link" href="{% url 'auctions-watchlist' %}">Whachlist</a>
                <a class="link" href="{% url 'auctions-mylistings' %}">My Listing</a>

                <a class="link" href="{% url 'auctions-create' %}">Create Listing</a>
            </div>
            <div class="login-menu">
                <a class="link" href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="main-menu">
                <a class="link" href="{% url 'auctions-home' %}"><img src="{% static 'img/icon.png' %}" alt="logo"></a>
                <a class="link" href="{% url 'auctions-home' %}">Active Listing</a>
                <a class="link" href="{% url 'auctions-closed' %}">Closed Listing</a>
                <a class="link" href="{% url 'auctions-categories' %}">Categories</a>
            </div>
            <div class="login-menu">
                <a class="link" href="{% url 'signup' %}">Sign up</a>
                <a class="link" href="{% url 'login' %}">Login</a>
            </div>
            {% endif %}
        </div>
    </nav>

    <main> 

       {% block content %}

       {% endblock content %}

    </main>
</body>
</html>
