{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Commerce</title>
</head>
<body>
    <nav>
        <div class="linkset left">
            {% if user.is_authenticated %}
                <a href="{% url 'auctions-home' %}">Active Listing</a>
                <a href="{% url 'auctions-create' %}">Create Listing</a>
                <a href="{% url 'auctions-watchlist' %}">Whachlist</a>
                <a href="{% url 'auctions-mylistings' %}">My Listings</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'auctions-home' %}">Active Listing</a>
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>

    <main> 

       {% block content %}

       {% endblock content %}

    </main>
</body>
</html>
