{% extends "auctions/layout.html" %}

{% block content %}
<h3>MY LISTINGS</h3>

<div class="auctions-wrapper">
    {% for auction in my_auctions %}
        <a href="{% url 'auctions-show' id=auction.id %}">
            <div class="auction-wrapper">
                <div>
                    <h2>{{auction.title}}</h2>
                    <img src="{{auction.photo.url}}" alt="image">
                </div>
                <p><span>Description: </span>{{auction.description}}</p> 
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}
