{% extends "auctions/layout.html" %}

{% block content %}
<h3>MY WATCHLIST</h3>

<div class="auctions-wrapper">
    {% for w in my_watchlist %}
        <a href="{% url 'auctions-show' id=w.auction.id %}">
            <div class="auction-wrapper">
                <div class="list-img-wrapper">
                    <img src="{{w.auction.photo.url}}" alt="image">
                </div>
                <div class="list-info-wrapper">
                    {% if not w.auction.active %}
                        <img class="closed-auct-btn" src="https://clipground.com/images/closed-png-6.png"/>
                    {% endif %}
                    <div class="title-price">
                        <h2>{{w.auction.title}} </h2>
                        <button> £{{w.auction.initial_price}}</button>
                    </div>
                    <p><span>Description: </span>{{w.auction.description}}</p> 
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
