{% extends "auctions/layout.html" %}

{% block content %}
    <h3>REGISTER</h3>
    <div class="login-register-wrapper">
        <div class="form-wrapper">
            <form class="form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Sign Up">
            </form>

            <span class="helptext">
                Already have an account?
                <a href="{% url 'login' %}">Login here</a>
            </span>
        </div>
    </div>
{% endblock content %}
